[alias]
	amend = commit --amend -a
	co = checkout
	cob = checkout -b
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ci = commit
	ci = commit -m
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	st = status
  up = pull --rebase
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[user]
	email = dubnde@gmail.com
	name = dubnde
