[user]
	name = dubnde
	email = dubnde@gmail.com
[alias]
	amend = commit --amend -a
  	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ci = commit
	co = checkout
	dt = difftool --dir-diff --no-prompt --no-symlinks
	edit = config --global --edit
	lg = log --oneline --decorate --color
	log = log --oneline --abbrev-commit --all --graph --decorate --color
	st = status
  	up = pull --rebase
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
