[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[push]
	default = matching
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
	autocrlf = input
[alias]
	amend = commit --amend -a
  	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	ci = commit
	co = checkout
	dt = difftool --dir-diff --no-prompt --no-symlinks
	edit = config --global --edit
	lg = log --oneline --decorate --color
	log = log --oneline --abbrev-commit --all --graph --decorate --color
	st = status
  	up = pull --rebase
[credential]
	helper = cache --timeout=72000
[branch]
	autosetuprebase = always
[branch "*branch-name*"]
	rebase = true
[init]
	defaultBranch = main
[include]
	path=~/.gitconfig.local
